@model IEnumerable<Proje.MvcWebUI.Entity.Category>
@{
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}



<ul class="list-group">
    <a href="/home/List" class="list-group-item">
        Tüm Kategoriler
    </a>

    @foreach (var item in Model)
    {
        if (selectedCategory != null)
        {
            if (item.Id == int.Parse((selectedCategory.ToString())))
            {
                //secilen kategori ile route idsi birbirine eşit.

                <a href="/home/List/@item.Id" class="list-group-item active">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>

            }
            else
            {
                <a href="/home/List/@item.Id" class="list-group-item ">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>
            }

        }
        else
        {
                <a href="/home/List/@item.Id" class="list-group-item ">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>
        }


    }
</ul>
