@using Proje.MvcWebUI.Models
@model IEnumerable< ProductModel>
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <div class="container">
        <br />
        <h1 class="display-4">Keskin Ticaret!</h1>
        <p class="lead">Mobil alışverişte yeni çağ artık kripto cüzdanınız ile alışveriş yapabilirsiniz .</p> 
        <hr class="my-4">
        <p>Master Card ve 3D Secure güvencesiyle.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>


<div class="container pb-5 ">
    @Html.Partial("_ProductList", Model)


</div>







